<div class="main-container">
    <app-header></app-header>
    <nav class="subnav">
        <ul id="demoTabs" class="nav" role="tablist">
            <li role="presentation" class="nav-item">
                <button id="tab1" class="btn btn-link nav-link" aria-controls="panel1"
                        aria-selected="true" type="button"
                        routerLink="/dashboard" routerLinkActive="active">Dashboard</button>
            </li>
            <li role="presentation" class="nav-item">
                <button id="tab2" class="btn btn-link nav-link" aria-controls="panel2"
                        aria-selected="false" type="button"
                        routerLink="/dashboard/management" routerLinkActive="active">Management</button>
            </li>
        </ul>
    </nav>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <!--<nav class="sidenav">-->

        <!--</nav>-->
    </div>
</div>
